/* base.html */
header {
  display: flex;
  background-color: #151924 !important;
  border-radius: 0px 0px 12px 12px;
  align-items: center;
  padding: 4px 24px;
}

.header-span {
  font: 500 1.125rem "Poppins";
  color: #fff;
  line-height: 32px;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-item a {
  text-decoration: none;
  color: #cfd1d4;
  font: 400 0.875rem "Poppins";
  line-height: 20px;
}
