{% extends 'usuarios/base.html' %}
{% block conteudo %}
{% load static %}
<div class="container">
    <div class="table-header">
    <h1 class="table-title">📑 Usuários Cadastrados</h1>
    <form action="{% url 'limpar_banco' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button-cleaner">🗑️</button>
    </form>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
        </tr>

        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id_usuario}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.idade}}</td>
        </tr>
        {% endfor %}
    </table>

    

</div>
{%endblock%}